$primaryColor: #8214ff;

.vvep-wizard {

    .vvep-wizard__step:not(.active),
    .vvep-wizard__wait:not(.active),
    .vvep-wizard__submit:not(.active) {
        display: none
    }

    .vvep-wizard__step {
        padding: 10px 0;

        .input-container {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            label {
                display: inline-block;
                font-weight: bold;
                margin-bottom: 5px;

                #vvep-reloadPosts {
                    color: $primaryColor;
                    transition: all .3s ease;

                    &:hover {
                        filter: brightness(1.2);;
                        transform: scale(1.1);
                    }
                }
            }
    
            input, select {
                display: block;
                min-width: 250px;
                max-width: 100%;
            }
        }
    }
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $primaryColor;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
    
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
    
        100% {
            transform: scale(0);
        }
    }
    
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
    
        100% {
            transform: translate(24px, 0);
        }
    }
}

